# Node.js dependencies
node_modules/

# Next.js build output
.next/

# Python cache
__pycache__/

# Python virtual environment
venv/

# Optional: ignore other common OS or editor files
.DS_Store  # macOS
Thumbs.db  # Windows
*.log      # log files
